<mat-accordion>
      <mat-expansion-panel (opened)="afficheEvolution()" (closed)="panelOpenState.set(false)">
        <mat-expansion-panel-header>
          <mat-panel-title style="font-size: 23px;"><strong>Evolution chaîne : </strong></mat-panel-title>
        </mat-expansion-panel-header>
        <div style="display: flex; flex-wrap: wrap; justify-content: center; gap: 50px;">
            @for(pokemon of pokemonChaineListe; track $index; let i = $index){
              <div style="text-align: center; margin: 10px;">
                <img class="photo-bouge-pas" src={{pokemon.sprites.other.showdown.front_default}} alt="photo front du pokémon" />
                <p>{{pokemon.name}}</p>
              </div>
            }
          </div>
      </mat-expansion-panel>
</mat-accordion>

